[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
#colorama = "~=0.4"
requests = "~=2.28"
tomli = "~=2.0"

[dev-packages]
black = "*"
pylint = "*"
pipenv = "*"
