[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.10'

[packages]
requests = '>=2.27.0, <3.0.0'
tomli = ">=2.0.0, <3.0.0"

[dev-packages]
black = '*'
prospector = '*'
pipenv = '*'
