[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
requests = "~=2.32"
colorama = "~=0.4"

[dev-packages]
black = "*"
pipenv = "*"
pylint = "*"
